.btn, .btn-a, .btn-b, .btn-c, .btn-d {
  background: #bc4d26;
  border: none;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: .1em;
  border-radius: 2px;
  height: 38px;
  line-height: 40px;
  color: #fff;
  padding: 0;
}

.btn {
  text-transform: uppercase;
  background: #959ea7;
}

.btn:hover {
  color: inherit;
}

.btn-b {
  background: #db5e33;
}

.btn-c {
  background: rgba(0,0,0,.2);
  border: 2px solid #fff;
  line-height: 46px;
}

.btn-d {
  background: #fff;
  border: 2px solid #959ea7;
}

.btn-small {
  height: 36px;
  line-height: 36px;
}

.btn-med {
  height: 40px;
  line-height: 38px;
  padding: 0 20px;
  color: #2c3e50;
  margin-top: 20px;
}

.btn-lg {
  height: 48px;
  line-height: 50px;
  font-size: 14px;
}

.btn-xl {
  line-height: inherit;
  height: auto;
  padding: 15px 0 15px 25px;
}

.btn-icon .pictogram {
  color: rgba(0,0,0,.3);
  font-size: 60px;
  line-height: 36px;
}

.btn-icon, .btn-icon-alt {
  text-align: left;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 0;
  color: rgba(255,255,255,.6);
}

.btn-icon h4, .btn-icon-alt {
  font-family: "Proxima Nova", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  margin: 0;
  color: #fff;
}

.apple-icon {
  width: 24px;
  height: 28px;
  background: url(../../img/apple-icon.png) no-repeat 0 0;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 8px;
}
