/* Social section */
#social {
  background: #ebeae9;
  padding: 38px 0;
}

#social .col-2 {
  width: 14%;
}

.pictogram-social {
  font-size: 110px;
  color: #3498db;
  position: relative;
  top: 10px;
}

#social .pictogram-social {
  top: 0;
}

.tweet_list {
  margin: 14px 0 0 0;
  padding: 0;
  list-style: none;
}

.tweet_text {
  font-family: "Klinic Slab", serif;
  font-size: 1.5em;
  line-height: 1.3em;
  color: #777;
  margin-bottom: 10px;
  display: block;
}

.tweet_text a, a.tweet_hashtag {
  font-weight: 500;
  font-style: italic;
}

a.tweet_hashtag {
  color: #717171;
}

.tweet_time {
  font-size: .75em;
  font-weight: 600;
  letter-spacing: .1em;
  text-transform: uppercase;
  display: block;
}

.tweet_time a {
  color: #000;
}

.social-icons {
  list-style: none;
  text-align: center;
}

.social-icons p { 
  color: #000;
  font-size: .75em;
  font-weight: 600;
  letter-spacing: .1em;
  margin-bottom: 10px;;
  margin-top: 20px;
}

.social-icons li {
  display: inline;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons li a {
  color: #959ea7;
  font-size: 88px;
  line-height: 42px;
}

.social-icons li a:hover {
  text-decoration: none;
  color: #5c6670;
}

/* Footer proper */
#footer {
  background: #34414e;
  padding-top: 34px;
  color: #fff;
}

#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer ul a, .copyright a {
  color: #fff;
  font-size: 15px;
}

.copyright a {
  font-size: inherit;
}

.copyright a:hover {
  color: #a1a5a9;
}

#footer ul a:hover {
  color: #6b7782;
  text-decoration: none;
}

#footer ul li.active a {
  font-weight: 600;
  color: #6b7782;
}

#footer p {
  margin-bottom: 10px;
}

#footer h3 {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 700;
  color: #db5e33;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 4px;
}

#footer hr {
  margin-top: 35px;
  margin-bottom: 35px;
}

.wiki-callout {
  border: 3px solid #415161;
  padding: 20px;
}

#footer .wiki-callout h3 {
  color: #fff;
  font-size: 18px;
}

#footer .col-5 {
  width: 44.666667%;
}

.wiki-callout p {
  font-size: 1.3125em;
  color: #959ea7;
  font-weight: 300;
  line-height: 1.3em;
}

.wiki-callout .btn {
  font-size: 12px;
}

.copyright small {
  color: #a1a5a9;
}

.copyright .disclaimer {
  line-height: 1;
}

.stanford-logo {
  width: 215px;
  height: 27px;
  font-size: 0;
  margin-top: 15px;
  display: block;
  background: url(../../img/stanford-logo.png) no-repeat 0 0;
  float: right;
}

.twitterfeed {
  position: relative;
}
