.upcase {
  text-transform: uppercase;
}

.visually-hidden {
  filter: alpha(opacity=0);
  opacity: 0;
}

.half {
  width: 50%;
}

.clearleft {
  clear: left;
}

.clearright {
  clear: right;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0;
}

.offset-heading {
  padding-top: 90px;
  margin-top: -90px;
}

p.loading {
  background: url(../../img/ajax-loader.gif) no-repeat 0 0;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  margin-top: 53px;
}
