.right {
  float: right !important;
}

.hidden {
  display: none;
}

.visually-hidden {
  filter: alpha(opacity=0);
  opacity: 0;
}

.half {
  width: 50%;
}

.clearleft {
  clear: left;
}

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.offset-heading {
  padding-top: 90px;
  margin-top: -90px;
}
