.jumbotron {
  background-color: #6d5d8d;
  color: #fff;
  margin: 0;
  border-bottom: 1px solid #60527e;
  min-height: 695px;
  position: relative;
  display: block;
  max-width: 1920px;
  margin: 0 auto;
}

.jumbotron-container {
  background: #2c3e50;
  position: relative;
}

.jumbotron h1 {
  font-size: 54px;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
}

.jumbotron p {
  margin-top: 0;
  margin-bottom: 20px !important;
}

.jumbotron.home, .jumbotron.internal {
  padding: 60px 0 0 0;
}

.jumbotron.internal {
  padding: 160px 0 0 0;
}

.jumbotron.internal h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
}

.jumbotron.home h1 {
  letter-spacing: 1px;
  margin-bottom: 18px;
}

.jumbotron.home .col-10 {
  width: 85.3333333%;
}

.jumbotron.home .col-8 {
  width: 62.6666667%;
}

.jumbotron.home .col-3 {
  padding-right: 3px;
  width: 21%;
}

.jumbotron .home-cta {
  position: relative;
  z-index: 996;
}

.jumbotron.home .btn {
  margin-top: 5px;
}

.about .jumbotron {
  background: #6d5d8d;
  min-height: 495px;
}

.jumbotron.internal h1 {
  position: relative;
  z-index: 100;
}

.jumbotron.home:after, .about .jumbotron:after, .products .jumbotron:after, .contact .jumbotron:after,
.support .jumbotron:after, .community .jumbotron:after, .short-courses .jumbotron:after {
  content: "";
  background: url(../../img/hero-home.jpg) no-repeat 0 0;
  background-position: 50% 0;
  opacity: .4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  height: 694px;
}

.jumbotron.home {
  height: 500px;
  min-height: 500px;
}

.jumbotron.home:after {
  height: 500px;
}

.about .jumbotron:after {
  background: url(../../img/hero-about.jpg) no-repeat 50% 0;
}

.products .jumbotron, .support .jumbotron, .community .jumbotron, .short-courses .jumbotron, .contact .jumbotron {
  min-height: 495px;
}

.products .jumbotron:after {
  background: url(../../img/hero-products.jpg) no-repeat 50% 0;
}

.support .jumbotron:after {
  background: url(../../img/hero-support.jpg) no-repeat 50% 0;
}

.community .jumbotron:after {
  background: url(../../img/hero-community.jpg) no-repeat 50% 0;
}

.short-courses .jumbotron:after {
  background: url(../../img/hero-short-courses.jpg) no-repeat 50% 0;
  opacity: .3;
}

.contact .jumbotron:after {
  background: url(../../img/hero-short-courses.jpg) no-repeat 50% 0;
}