.inline {
  padding: 0;
  margin: 0;
}

.inline > li {
  display: inline;
  margin-right: 3%;
}

.inline > li:last-child {
  margin-right: 0;
}

.desktop .inline > li a {
  color: #2c3e50;
}

.web-protege-features {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
}

.web-protege-features li {
  font-family: "Klinic Slab", serif;
  color: #b5bec7;
  font-weight: 500;
  font-size: 16px;
  background: url(../../img/green-check.png) no-repeat 0 6px;
  padding-left: 20px;
  margin-bottom: 15px;
}

.desktop .web-protege-features li {
  color: #2c3e50;
}

.affiliate-features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.affiliate-features li {
  background: url(../../img/red-raquo.png) no-repeat 0 7px;
  padding-left: 20px;
  margin-bottom: 10px;
}
