/* Sub header Module */
.sub-header {
  color: #959ea7;
  background: #2c3e50;
  padding: 30px 0;
}

.sub-header h3 {
  margin: 0;
}

.bordered + .sub-header {
  border-top: 12px solid #2c3e50;
  background: #415161;
}

/* Home testimonials slider */

.slider-nav {
  position: relative;
  top: 12px;
}

[data-slide="prev"] {
  position: relative;
  left: -35px;
}

[data-slide] .pictogram {
  font-size: 54px;
  line-height: 0;
  color: #c0c5cb;
}

[data-slide] .pictogram:hover {
  color: #425262;
}

.testimonials {
  background: #415161;
  padding: 40px 0;
}


.testimonials .pictogram {
  font-size: 160px;
  opacity: .2;
  color: #fff;
}

.testimonials .media {
  display: table;
}

.testimonials .pull-left {
  margin-right: 40px;
  width: 14%;
  display: table-cell;
  vertical-align: middle;
  float: none !important;
}

.testimonials .media-body {
  display: table-cell;
  vertical-align: middle;
}

.testimonials img {
  padding-top: 10px;
  margin-right: 15px;
}

.testimonials blockquote .read-more {
  margin-right: 30px !important;
}

blockquote.quote-a span {
  overflow: hidden;
  height: 90px;
  display: block;
}

.testimonials blockquote footer {
  font-size: 12px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
  letter-spacing: 1px;
}

.testimonials blockquote footer .double-line {
  position: relative;
  top: -11px;
}

.testimonials blockquote footer a {
  color: #db5e33;
}

/* Reuseable main content module */
.main-content {
  padding: 60px 0;
}

.sub-header.main-content {
  padding-top: 50px;
}

.main-content.short-course-archives {
  padding-bottom: 0;
}

.main-content.citing {
  padding-top: 0;
}

/* Home features section */
.features .col-4 {
  padding-right: 5px;
}

.features .btn {
  padding: 15px 20px;
  margin-right: 15px;
  margin-top: 20px;
  display: inline;
}

.features h1 {
  font-size: 30px;
  margin-bottom: 7px;
  color: #34414e;
  font-weight: 700;
}

.features h2 {
  line-height: 28px;
}

/* Homepage feature section */
.feature {
  border: 3px solid #959ea7;
  padding: 40px 25px 15px 25px;
  min-height: 318px;
  height: auto !important;
  margin-top: 68px;
  position: relative;
  background: #fafafb;
  margin-bottom: 63px !important;
}

.feature h2.heading-c, .support h2.heading-c,
.features h2.heading-c {
  margin-bottom: 50px;
  margin-top: 5px;
}

.features h2.heading-c {
  margin-bottom: 0;
}

.feature h3, .support h3 {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #415161;
  margin-bottom: 30px;
}

.feature h3 {
  margin-bottom: 23px;
  margin-top: 14px;
}

.feature p {
  color: #646464;
  margin-top: 0;
  margin-bottom: 0;
}

.feature img {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: -36px;
}

/* Grid Overrides and Vertical Spacing*/
.offset-right-padding {
  padding-right: 60px;
}

.offset-margin-top {
  margin-top: 40px;
}

.bring-to-front {
  z-index: 200;
  position: relative;
}

/* Product Page Custom Tooltips */
.tooltip {
  left: -27px;
  transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
  height: auto;
}

.tooltip.other-downloads {
  left: 50px;
}

.resources .tooltip {
  left: -40px;
}

.tooltip.visually-hidden, .resources.tooltip.visually-hidden {
  height: 0;
  position: absolute;
  left: -9999px;
}

.tooltip ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tooltip ul li {
  border-bottom: 1px solid #d9d9d9;
}

.tooltip ul li a {
  font-size: 16px;
  padding: 10px 12px;
  font-weight: 300;
}

.tooltip ul li a:hover {
  text-decoration: none;
}

.tooltip ul li a span {
  color: #db5e33;
  font-weight: 700;
  margin-right: 5px;
}

.tooltip ul li:last-child {
  border-bottom: none;
}

.tooltip-inner {
  width: 220px;
  text-align: left;
  padding: 0;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
}

.web-protege-nav .tooltip-inner a {
  color: #415161;
}

.tooltip-inner a {
  display: block;
}

.tooltip-inner li a:hover {
  color: #2d73a1;
}

.tooltip-activate {
  position: relative;
}

.tooltip-contain {
  position: absolute;
}

.tooltip.bottom .tooltip-arrow {
  position: absolute;
  width: 5px;
  height: 10px;
  background: #fff;
  top: 10px;
  left: 50%;
  margin-right: -2px;
  /*transform*/
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  /*box-shadow*/
  -webkit-box-shadow: -1px -1px 3px rgba(0,0,0,.15);
  -moz-box-shadow: -1px -1px 3px rgba(0,0,0,.15);
  box-shadow: -1px -1px 3px rgba(0,0,0,.15);
}

/* Products page support section */
.products .support h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

/* Panel Styles for Support page */
.panel {
  background: #c6cbd0;
  padding: 15px 20px;
  border-radius: 2px;
  color: #72777d;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  margin-bottom: 20px;
  transition: background-color .15s ease-in-out;
}

.panel .btn {
  margin-top: 6px;
}

.panel h3 {
  margin-bottom: 18px;
  font-family: "Klinic Slab", serif;
  font-style: italic;
  margin-bottom: 8px;
}

.panel p {
  margin-bottom: 0;
}

.panel:hover {
  background: #fff;
}

/* Panel Styles for Community page */
.social-panel {
  padding: 30px 25px 20px 25px;
}

.social-panel.twitter p {
  margin-bottom: 180px;
}

.social-panel.twitter {
  background: #3498db;
}

.social-panel.twitter:hover {
  background: #388bc1;
}

.social-panel.facebook {
  background: #4c66a4;
  margin-bottom: 20px !important;
}

.social-panel.facebook:hover {
  background: #475d96;
}

.social-panel.github {
  background: #fafafa;
  border: 2px solid #858d95;
  height: 252px;
}

.social-panel.github:hover {
  background: #f5f5f5;
}

.social-panel .pictogram-social {
  color: rgba(255,255,255,.4);
  line-height: 0;
  font-size: 90px;
}

.social-panel.twitter .pictogram-social {
  color: #85c1e9;
  margin-bottom: 100px;
}

.social-panel.facebook .pictogram-social, .social-panel.github .pictogram-social  {
  color: #94a3c8;
  font-size: 70px;
  margin-bottom: 40px;
}

.social-panel.github .pictogram-social {
  color: #5c6670;
}


/* Tabbed panel on support page */
.nav-tabs {
  border-bottom: 1px solid #b2b2b2;
  margin-top: 75px;
}
.nav-tabs > li > a {
  border: 1px solid #b2b2b2;
  background: #f5f6f7;
  text-align: center;
  font-weight: 600;
  color: #3e4144;
  margin-right: 6px;
  border-radius: 2px 2px 0 0;
  box-shadow: -1px -1px 3px 0px rgba(0,0,0,.1);
}

.nav-tabs > li > a:hover {
  border: 1px solid #b2b2b2;
}

.nav-tabs > li.active > a {
  background: #fff;
  border: 1px solid #b2b2b2;
  border-bottom: 1px solid #fff;
}

.nav-tabs > li.active > a:hover {
  border: 1px solid #b2b2b2;
  border-bottom: 1px solid #fff;
}

.tab-content {
  border: 1px solid #b2b2b2;
  border-top: none;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.tab-content .intro-b {
  margin-bottom: 10px;
}

.tab-content .offset-raquo {
  margin-left: 0;
}

.tab-content .link-c + p {
  padding-left: 16px;
}

/*Support options section on Support Page */
.affiliate .heading-c {
  margin-bottom: 0;
}

.affiliate span {
  display: block;
  margin-bottom: 20px;
}

/* Team section on About Page*/
.team {
  background: #415161;
  padding: 37px 0;
}

.team-member {
  margin-bottom: 50px !important;
  display: block;
  position: relative;
  transition: top .3s ease-in-out;
  -moz-transition: top .3s ease-in-out;
  -webkit-transition: top .3s ease-in-out;
  top: 0;
  z-index: 100;
}

.team-member:hover {
  text-decoration: none;
  top: -5px;
}

html[data-useragent*='MSIE 10.0'] .team-member:hover, html[data-useragent*='MSIE 9.0'] .team-member:hover {
  top: 0;
}

.team-member div {
  box-shadow: 0 0 0 6px #677481;
  border-radius: 50%;
  margin: 10px;
  width: 116px;
  height: 115px;
  margin: 0 auto;
  transition: box-shadow .3s;
  background-size: cover;
}

.team-member:hover div {
  box-shadow: 0 0 0 10px #959ea7;
}

.team-member:hover .matthew, .team-member:hover .mark, .team-member:hover .natasha,
.team-member:hover .csongor, .team-member:hover .samson, .team-member:hover .tania,
.team-member:hover .jennifer {
  background-position: bottom left;
}

.team-member .matthew {
  background: url(../../img/team/matthew.png) no-repeat top left;
  background-size: cover;
}

.team-member .mark {
  background: url(../../img/team/mark.png) no-repeat top left;
  background-size: cover;
}

.team-member .natasha {
  background: url(../../img/team/natasha.png) no-repeat top left;
  background-size: cover;
}

.team-member .csongor {
  background: url(../../img/team/csongor.png) no-repeat top left;
  background-size: cover;
}

.team-member .samson {
  background: url(../../img/team/samson.png) no-repeat top left;
  background-size: cover;
}

.team-member .tania {
  background: url(../../img/team/tania.png) no-repeat top left;
  background-size: cover;
}

.team-member .jennifer {
  background: url(../../img/team/jennifer.png) no-repeat top left;
  background-size: cover;
}

.team-offset {
  margin-left: 12%;
}

.team-member h4 {
  margin-top: 22px;
  margin-bottom: 3px;
  color: #959ea7;
  font-style: italic;
  font-weight: 600;
  font-family: "Proxima Nova", sans-serif;
}

.team-member:hover h4 {
  color: #fff;
}

.team-member p {
  margin: 0;
}

/* Styles for About BMIR section */
.about-bmir .intro-b {
  margin-bottom: 50px;
  line-height: 30px;
}

.about-bmir hr {
  margin-top: 25px;
  margin-bottom: 25px !important;
}

/* Citing Section Styles */
.citing p {
  margin-bottom: 8px;
}

/* Styles for newest course section on Short Course Page */
.newest-course {
  background: #fbf5db; 
  height: 70px;
  line-height: 72px;
  border-bottom: 1px solid #fbdfb7;
  padding: 0;
  position: relative;
  z-index: 999;
}

.newest-course .pictogram {
  line-height: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -12px;
  color: #ce842d;
  opacity: 1;
  transition: opacity .15s ease-in-out;
  font-size: 60px;
}

.newest-course .pictogram:hover {
  opacity: .7;
}

/* Short Course Specific Page Styles */
.shortcourses h3 {
  font-weight: 700;
  color: #3e4144;
}

.shortcourses h3.previous-courses {
  font-size: 27px;
}

/* Short Course Reviews Styles */
#shortcourse-reviews {
  padding: 30px;
  margin-top: 40px;
  width: 100%;
}

#shortcourse-reviews h3 {
  margin-top: 0;
}

#shortcourse-reviews .item {
  -webkit-transition: opacity .5s; 
  -moz-transition: opacity .5s; 
  -ms-transition: opacity .5s; 
  -o-transition: opacity .5s; 
  transition: opacity .5s;
  opacity:0;
  height: 0;
  display: block;
}

#shortcourse-reviews .item.active {
  opacity:1;
  height: auto;
}

#shortcourse-reviews .carousel-indicators li {
  background: #ebeae9;
}

#shortcourse-reviews .carousel-indicators .active {
  background: #959ea7;
}

#shortcourse-reviews p strong {
  font-weight: 600;
  color: #3e4144;
}

#shortcourse-reviews p {
  margin-bottom: 5px;
}

#shortcourse-reviews hr {
  width: 340px;
}

#shortcourse-reviews img {
  margin-bottom: 20px;
}

/* Google Map API Styles */
#map-canvas { height: 250px; }

.short-courses .event#map-canvas { height: 360px; }

/* Specific Styles for InfoBox Plugin */
#box {
  background: #fff;
  width: 338px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.3);
  padding-bottom: 8px;
  position: relative;
}

#box:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  top: 45%;
  left: -5px;
  /*transform*/
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  /*box-shadow*/
  -webkit-box-shadow: -1px 1px 0 rgba(0,0,0,.3);
  -moz-box-shadow: -1px 1px 0 rgba(0,0,0,.3);
  box-shadow: -1px 1px 0 rgba(0,0,0,.3);
}

#box p {
  margin: 0 0 6px 0;
  width: auto;
  width: 85%;
  opacity: .9;
}

#box span {
  width: 10%;
  line-height: 20px;
  font-size: 36px;
  margin-left: 9px;
  margin-right: 5px;
  text-align: center;
  color: #7a8590;
}

#box span.map-icon {
  color: #e68e70;
  font-size: 44px;
}

#box hr {
  margin: 7px 0 10px 0;
}

#box .infobox-title {
  padding: 10px 16px 0 16px;
  color: #2c3e50;
  font-family: "Brandon Grotesque", sans-serif;
  opacity: 1;
}

#box .btn-b {
  width: 100px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#box .learn-more-link {
  font-size: 14px;
  margin-left: 20px;
  margin-top: 15px;
  display: inline-block;
}

.map-container {
  position: relative;
}

.map-container > span {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(../../img/map-close-icon.png) no-repeat 0 0;
  width: 35px;
  height: 35px;
  z-index: 997;
}

/* Begin Modal Styles */
.modal {
  display: none;
  width: 675px;
  margin-left: -337px;
  border-radius: 2px;
}

.modal form span {
  position: relative;
  top: 1px;
  margin-right: 8px;
}

.modal form p {
  margin: 20px 0 0 0;
  font-weight: 600;
}

.modal hr {
  margin: 0 15px;
}

.modal-body {
  max-height: 600px;
  min-height: 400px;
  font-size: 14px;
}

#protegeUserMailingList {
  height: 390px;
}

#protegeUserMailingList .modal-body {
  min-height: 388px;
}

#desktopDownload .modal-body .btn-b {
  margin-top: 14px;
  letter-spacing: 0;
  text-transform: none;
  font-size: 18px;
  font-weight: 600;
  background: #db5e33 url('../../img/generic-download-icon.png') no-repeat 15% 50%;
  width: 180px;
  float: right;
  height: 52px;
}

#desktopDownload .modal-body .btn-b:hover {
  background: #bc4d26 url('../../img/generic-download-icon.png') no-repeat 15% 50%; 
}

.modal-body .btn-b span {
  margin-left: 18px;
}

.modal-body p {
  line-height: 24px;
  margin-bottom: 10px;
}

.modal-body p.header {
  margin-top: 10px;
  margin-bottom: 0;
}

.modal-body p strong {
  font-size: 16px;
}

.modal form {
  margin-bottom: 15px;
}

.modal ul {
  margin-top: 3px;
}

.modal ul li {
  line-height: 22px;
}

#signUpModal {
  width: 780px;
  padding: 30px;
  margin-left: -390px;
}

#signUpModal h3 {
  margin: 0 0 20px 0;
}

#signUpModal p {
  font-size: 16px;
  color: #545454;
  line-height: 24px;
}

#signUpModal p.smaller {
  font-size: 14px;
  margin-top: 25px;
}

#signUpModal ul {
  margin-top: 15px;
}

#signUpModal ul li {
  font-size: 18px;
  color: #999;
  margin-bottom: 10px;
  font-weight: 300;
}

#signUpModal .error-span {
  color: red;
  display: none;
}

#signUpModal .modal-body {
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#signUpModal a[data-dismiss="modal"] {
  position: absolute;
  bottom: 35px;
  left: 30px;
}

.modal-body label, 
.modal-body input[type="text"], 
.modal-body input[type="email"],
.modal-body textarea {
  display: block;
  width: 100%;
}

.modal-body input[type="text"], .modal-body input[type="email"], .modal-body textarea {
  color: #bec1c5;
  font-size: 16px;
  height: 38px;
  padding-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #c6cacf;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  font-weight: 300;
}

.modal-body textarea {
  height: 60px;
  padding-top: 8px;
}

.modal-body label {
  color: #2c3e50;
  font-size: 16px;
}

#signUpModal .half {
  width: 160px;
  float: left;
}

#signUpModal .half.first {
  margin-right: 20px;
}

#signUpModal .btn-b, .mailingList .btn-b {
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 500;
  width: 100px;
  text-align: center;
  line-height: 0;
  margin-top: 8px;
}

#signUpModal .checkbox {
  position: relative;
  top: 5px;
  font-size: 12px;
}

#signUpModal .checkbox span {
  position: relative;
  top: -2px;
}

.mailingList .btn-b {
  position: relative;
  top: 25px;
}

.with-bg {
  background: #fafafa;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  border-left: 1px solid #e0e0e0;
  box-shadow: inset 1px 0 0 #fff;
}

.mailingList ul {
  margin-top: 110px;
}

.mailingList {
  height: 365px;
  width: 780px;
  margin-left: -390px;
}

.mailingList .modal-body {
  max-height: none;
  min-height: 363px;
  height: auto;
  padding: 30px;
}

.mailingList h3 {
  font-family: "Klinic Slab", serif;
  font-size: 21px;
}

.mailingList input[type="checkbox"] {
  margin-right: 5px;
  border: 1px solid #c6cacf;
  background: #fff;
}

.mailingList .cancel-modal {
  position: absolute;
  left: 15px;
  bottom: -21px;
  font-size: 16px;
}

.mailingList .close-modal-icon {
  background: url(../../img/close-modal-icon.png);
  width: 10px;
  height: 11px;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

#screenShotsModalWeb {
  width: auto;
}

#screenShotsModalWeb img {
  max-width: none;
}

#screenShotsModalDesktop .modal-body, #screenShotsModalWeb .modal-body {
  padding: 0;
  max-height: 640px;
  min-height: 300px;
  overflow: hidden;
}

#colorbox {
  z-index: 999;
}

#cboxOverlay {
  z-index: 998 !important;
  background: #000 !important;
  opacity: .7 !important;
}

#cboxContent, #cboxLoadedContent {
  background: none;
}

#cboxPrevious, #cboxPrevious:hover {
  background: url(../../img/gallery-back-arrow.png) no-repeat 0 0;
}

#cboxPrevious:hover, #cboxNext:hover, #cboxClose:hover {
  opacity: .7;
}

#cboxNext, #cboxNext:hover {
  background: url(../../img/gallery-forward-arrow.png) no-repeat 0 0;
}

#cboxClose, #cboxClose:hover {
  background: url(../../img/gallery-close.png) no-repeat 0 0;
}

.screenshots-carousel .carousel-indicators {
  position: absolute;
  z-index: 10000;
  right: 50%;
  bottom: 20px;
  margin-right: -37px;
}

.screenshots-carousel .carousel-control.left, .screenshots-carousel .carousel-control.right {
  height: 23px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 60px;
  font-weight: normal;
  top: 50%;
  line-height: 14px;
  margin-top: -11px;
  background: transparent;
  color: #fff;
  opacity: 1;
}

.screenshots-carousel .carousel-control.right {
  right: 0;
  top: 0;
  left: auto;
  top: 50%;
}

.screenshots-carousel .carousel-control:hover {
  opacity: .6;
}

/* Dropdown styles */
/* General dropdown styles */       
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
/* DT styles for sliding doors */
.dropdown dt a {
    display:block; 
    border:1px solid #c6cacf; 
    width:435px; 
    box-shadow: 0 0 2px rgba(0,0,0,.2); 
    padding: 8px 14px 8px 30px; 
    font-size: 18px;
    color: #2c3e50;
    font-weight: 300;
    border-radius: 2px;
}

.selected-download span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 360px;
}

.dropdown dt a span {cursor:pointer; display:block; padding:5px; margin-left: 3px;}
/* UL styles */

.dropdown dd ul { 
  background:#fff;
  display:none;
  list-style:none; 
  padding:0 0 5px 0; 
  position:absolute; 
  left:0px; 
  top:2px; 
  width:auto; 
  width: 435px;
  z-index: 100;
  border: 1px solid #b2b2b2;
  border-radius: 2px;
  margin-top: 12px;
  margin-bottom: 10px;
  box-shadow: 0 0 2px rgba(0,0,0,.15);
}

.dropdown dd ul:before { 
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: #fff;
  top: -5px;
  right: 10px;
  /*transform*/
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  /*box-shadow*/
  -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: -1px -1px 2px rgba(0,0,0,.15);
  box-shadow: -1px -1px 2px rgba(0,0,0,.15);
}

.dropdown dd ul li { 
  border-top: 1px solid #d9d9d9;
  padding: 12px 10px 12px 8px;
}

.dropdown dd ul li:first-child { 
  padding: 0;
  border-top: none;
}

.dropdown dd ul li form { 
  margin: 0;
}

.dropdown dd ul li input[type="search"] { 
  width: 100%;
  padding: 8px 4px 8px 30px;
  background: url('../../img/magnifying-glass-icon.png') no-repeat 2% 50%;
  font-size: 16px;
  border: none;
}

.dropdown dd ul li input[type="search"]:focus { 
  outline: none;
}

.dropdown dd ul li a { 
  padding:0; 
  display:block;
  font-size: 16px;
  color: #2c3e50;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 2px;
}

.windows-dropdown-icon,
.apple-dropdown-icon,
.linux-dropdown-icon,
.download-dropdown-icon { 
  background: #fff url('../../img/windows-dropdown-icon.png') no-repeat 0 30%;
  padding-left: 30px !important;
}

.apple-dropdown-icon {
  background: #fff url('../../img/apple-dropdown-icon.png') no-repeat 2px 30%;
}

#target dt a.apple-dropdown-icon {
  background: 
    url('../../img/apple-dropdown-icon.png') no-repeat 10px 49%,
    url('../../img/dropdown-arrow-border.png') no-repeat 97% 50%;
}

#target dt a.windows-dropdown-icon {
  background: 
    url('../../img/windows-dropdown-icon.png') no-repeat 10px 47%,
    url('../../img/dropdown-arrow-border.png') no-repeat 97% 50%;
}

#target dt a.linux-dropdown-icon { 
  background: 
    url('../../img/linux-dropdown-icon.png') no-repeat 10px 47%,
    url('../../img/dropdown-arrow-border.png') no-repeat 97% 50%;
}

#target dt a.download-dropdown-icon { 
  background: 
    url('../../img/download-dropdown-icon.png') no-repeat 10px 47%,
    url('../../img/dropdown-arrow-border.png') no-repeat 97% 50%;
}

.linux-dropdown-icon { 
  background: #fff url('../../img/linux-dropdown-icon.png') no-repeat 0 30%;
}

.download-dropdown-icon { 
  background: #fff url('../../img/download-dropdown-icon.png') no-repeat 0 30%;
}

.dropdown dd ul li a:hover { 
  color: #db5e33;
}

.dropdown-active dt a {
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  border: 1px solid #76818d;
}

.protege-versions {
  position: relative;
}

.protege-versions .col-2 {
  position: static;
}

.protege-versions .col-2 img {
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

#desktop-protege .list-a li {
  color: #2c3e50;
}

.more-support li {
  margin-bottom: 5px;
}

.more-support ul {
  position: relative;
  left: -20px;
}

.more-support .short-course-info {
  width: 25%;
}


/* Grid Overrides */
.more-support .col-4 {
  margin-right: 40px;
}

.more-support .col-4.affiliate {
  position: relative;
  left: 15px;
}

.more-support .col-4.affiliate.last {
  margin-right: 0;
  left: 0;
}

.community .sub-header .col-3.last {
  margin-right: 0;
}

.registered-users {
  width: 33%;
}

.user-list-members {
  width: 33%;
}

.discussion-list-members {
  width: 23%;
}

.owl-list-members {
  width: 15%;
}

.community .sub-header .col-3 {
  margin-right: 30px;
}

/* Heading Offsets */
#web-protege {
  padding-top: 108px;
  margin-top: -108px;
}

#desktop-protege {
  padding-top: 123px;
  margin-top: -123px;
}

#documentationSupport {
  padding-top: 63px;
  margin-top: -63px;
}

#more-support {
  padding-top: 80px;
  margin-top: -80px !important;
}


[class^="col-"] > *:last-child {
  margin-bottom: 0;
}
