/* Sub header Module */
.sub-header {
  color: #959ea7;
  background: #2c3e50;
  padding: 30px 0;
}

.sub-header h3 {
  margin: 0;
}

.sub-header h3 big {
  font-family: "Brandon Grotesque", serif;
  color: #fff;
  font-size: 24px;
  margin: 0 1px 0 4px;
}

.products + .sub-header, .support-page + .sub-header {
  border-top: 12px solid #2c3e50;
  background: #415161;
}

/* Home testimonials slider */

.slider-nav {
  position: relative;
  top: 12px;
}

[data-slide="prev"] {
  position: relative;
  left: -20px;
}

[data-slide] .pictogram {
  font-size: 54px;
  line-height: 0;
  color: #c0c5cb;
}

[data-slide] .pictogram:hover {
  color: #425262;
}

#testimonials {
  background: #415161;
  padding: 40px 0;
}

#testimonials img {
  padding-top: 10px;
  margin-right: 15px;
}

#testimonials blockquote {
  border-left: none;
  padding: 0;
  margin: 0;
  color: #959ea7;
  font-size: 24px;
  font-family: "Klinic Slab", serif;
}

#testimonials blockquote footer {
  font-size: 12px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
}

#testimonials blockquote footer a {
  color: #db5e33;
}

.desktop {
  margin-bottom: 60px;
}

.features h1, .support h1 {
  font-size: 30px;
  margin-top: 68px;
  color: #34414e;
}

.support h1 {
  margin-top: 50px;
}

.feature {
  border: 3px solid #959ea7;
  padding: 40px 25px 25px 25px;
  min-height: 350px;
  margin: 77px 0 50px 0;
  position: relative;
}

.feature h2.heading-c, .support h2.heading-c {
  margin-bottom: 50px;
}

.feature h3, .support h3 {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #415161;
  margin-bottom: 30px;
}

.support h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

.feature p {
  color: #9ca2a9;
  margin-top: 0;
}

.feature img {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: -36px;
}

/* Custom Tooltips */
.tooltip {
  left: -27px;
}

.tooltip ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tooltip ul li {
  border-bottom: 1px solid #d9d9d9;
}

.tooltip ul li a {
  font-size: 16px;
  padding: 10px 12px;
  font-weight: 300;
}
.tooltip ul li a:hover {
  text-decoration: none;
}
.tooltip ul li a span {
  color: #db5e33;
  font-weight: 700;
  margin-right: 5px;
}
.tooltip-inner {
  width: 220px;
  text-align: left;
  padding: 0;
}

.tooltip-inner a {
  display: block;
}

.tooltip-activate {
  position: relative;
}

.tooltip-contain {
  position: absolute;
}

.desktop {
  margin-top: 60px;
}

.desktop .intro {
  color: #4d535a;
}

/* Panel Styles */

.panel {
  background: #c6cbd0;
  padding: 18px 20px;
  border-radius: 2px;
  color: #72777d;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  margin-bottom: 20px;
}

.panel .btn {
  margin-top: 6px;
}

.panel h3 {
  margin-bottom: 18px;
}

.panel:hover {
  background: #fff;
}

/* Tabs */
.nav-tabs {
  border-bottom: 1px solid #b2b2b2;
  margin-top: 75px;
}
.nav-tabs > li > a {
  border: 1px solid #b2b2b2;
  background: #f5f6f7;
  text-align: center;
  font-weight: 600;
  color: #3e4144;
  margin-right: 6px;
  border-radius: 2px 2px 0 0;
}

.nav-tabs > li > a:hover {
  border: 1px solid #b2b2b2;
}

.nav-tabs > li.active > a {
  background: #fff;
  border: 1px solid #b2b2b2;
  border-bottom: 1px solid #fff;
}

.nav-tabs > li.active > a:hover {
  border: 1px solid #b2b2b2;
  border-bottom: 1px solid #fff;
}

.tab-content {
  border: 1px solid #b2b2b2;
  border-top: none;
  padding: 20px;
}

.tab-content .intro-b {
  margin-bottom: 10px;
}

.tab-content .course-raquo {
  margin-left: 0;
}

.tab-content .link-c + p {
  padding-left: 16px;
}

.affiliate .heading-c {
  margin-bottom: 0;
}

.affiliate span {
  display: block;
  margin-bottom: 20px;
}
