/* Sub header Module */
.sub-header {
  color: #959ea7;
  background: #2c3e50;
  padding: 30px 0;
}

.sub-header h3 {
  margin: 0;
}

.bordered + .sub-header {
  border-top: 12px solid #2c3e50;
  background: #415161;
}

/* Home testimonials slider */

.slider-nav {
  position: relative;
  top: 12px;
}

[data-slide="prev"] {
  position: relative;
  left: -20px;
}

[data-slide] .pictogram {
  font-size: 54px;
  line-height: 0;
  color: #c0c5cb;
}

[data-slide] .pictogram:hover {
  color: #425262;
}

#testimonials {
  background: #415161;
  padding: 40px 0;
}

#testimonials img {
  padding-top: 10px;
  margin-right: 15px;
}

#testimonials blockquote footer {
  font-size: 12px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
}

#testimonials blockquote footer a {
  color: #db5e33;
}

.desktop {
  margin-bottom: 60px;
}

.features h1, .support h1 {
  font-size: 30px;
  margin-top: 68px;
  color: #34414e;
}

.support h1 {
  margin-top: 50px;
}

.feature {
  border: 3px solid #959ea7;
  padding: 40px 25px 25px 25px;
  min-height: 350px;
  margin: 77px 0 50px 0;
  position: relative;
}

.feature h2.heading-c, .support h2.heading-c {
  margin-bottom: 50px;
}

.feature h3, .support h3 {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #415161;
  margin-bottom: 30px;
}

.support h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

.feature p {
  color: #9ca2a9;
  margin-top: 0;
}

.feature img {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: -36px;
}

/* Custom Tooltips */
.tooltip {
  left: -27px;
}

.tooltip ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tooltip ul li {
  border-bottom: 1px solid #d9d9d9;
}

.tooltip ul li a {
  font-size: 16px;
  padding: 10px 12px;
  font-weight: 300;
}
.tooltip ul li a:hover {
  text-decoration: none;
}
.tooltip ul li a span {
  color: #db5e33;
  font-weight: 700;
  margin-right: 5px;
}
.tooltip-inner {
  width: 220px;
  text-align: left;
  padding: 0;
}

.tooltip-inner a {
  display: block;
}

.tooltip-activate {
  position: relative;
}

.tooltip-contain {
  position: absolute;
}

.desktop {
  margin-top: 60px;
}

.desktop .intro {
  color: #4d535a;
}

/* Panel Styles */

.panel {
  background: #c6cbd0;
  padding: 18px 20px;
  border-radius: 2px;
  color: #72777d;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  margin-bottom: 20px;
}

.panel .btn {
  margin-top: 6px;
}

.panel h3 {
  margin-bottom: 18px;
}

.panel:hover {
  background: #fff;
}

.social-panel {
  padding: 30px 25px 20px 25px;
}

.social-panel.twitter p {
  margin-bottom: 180px;
}

.social-panel.twitter {
  background: #3498db;
}

.social-panel.facebook {
  background: #4c66a4;
  margin-bottom: 20px;
}

.social-panel.github {
  background: #fff;
  border: 2px solid #858d95;
}

.social-panel .pictogram-social {
  color: rgba(255,255,255,.4);
  margin-top: 10px;
  line-height: 0;
  font-size: 90px;
}

.social-panel.twitter .pictogram-social {
  color: #85c1e9;
  margin-bottom: 100px;
}

.social-panel.facebook .pictogram-social, .social-panel.github .pictogram-social  {
  color: #94a3c8;
  font-size: 70px;
  margin-bottom: 40px;
}

.social-panel.github .pictogram-social {
  color: #5c6670;
}


/* Tabs */
.nav-tabs {
  border-bottom: 1px solid #b2b2b2;
  margin-top: 75px;
}
.nav-tabs > li > a {
  border: 1px solid #b2b2b2;
  background: #f5f6f7;
  text-align: center;
  font-weight: 600;
  color: #3e4144;
  margin-right: 6px;
  border-radius: 2px 2px 0 0;
}

.nav-tabs > li > a:hover {
  border: 1px solid #b2b2b2;
}

.nav-tabs > li.active > a {
  background: #fff;
  border: 1px solid #b2b2b2;
  border-bottom: 1px solid #fff;
}

.nav-tabs > li.active > a:hover {
  border: 1px solid #b2b2b2;
  border-bottom: 1px solid #fff;
}

.tab-content {
  border: 1px solid #b2b2b2;
  border-top: none;
  padding: 20px;
}

.tab-content .intro-b {
  margin-bottom: 10px;
}

.tab-content .course-raquo {
  margin-left: 0;
}

.tab-content .link-c + p {
  padding-left: 16px;
}

.affiliate .heading-c {
  margin-bottom: 0;
}

.affiliate span {
  display: block;
  margin-bottom: 20px;
}

.team {
  background: #415161;
  padding: 37px 0;
  margin-bottom: 45px;
}

.team-member {
  margin-bottom: 50px;
  display: block;
  position: relative;
  transition: top .3s;
}

.team-member:hover {
  text-decoration: none;
  top: -5px;
}

.team-member div {
  box-shadow: 0 0 0 6px #677481;
  border-radius: 50%;
  margin: 10px;
  width: 116px;
  height: 115px;
  margin: 0 auto;
  transition: box-shadow .3s;
  background-size: cover;
}

.team-member:hover div {
  box-shadow: 0 0 0 10px #677481;
}

.team-member:hover .matthew, .team-member:hover .mark, .team-member:hover .natasha,
.team-member:hover .csongor, .team-member:hover .samson, .team-member:hover .tania,
.team-member:hover .jennifer {
  background-position: bottom left;
}

.team-member .matthew {
  background: url(../../img/team/matthew.png) no-repeat top left;
  background-size: cover;
}

.team-member .mark {
  background: url(../../img/team/mark.png) no-repeat top left;
  background-size: cover;
}

.team-member .natasha {
  background: url(../../img/team/natasha.png) no-repeat top left;
  background-size: cover;
}

.team-member .csongor {
  background: url(../../img/team/csongor.png) no-repeat top left;
  background-size: cover;
}

.team-member .samson {
  background: url(../../img/team/samson.png) no-repeat top left;
  background-size: cover;
}

.team-member .tania {
  background: url(../../img/team/tania.png) no-repeat top left;
  background-size: cover;
}

.team-member .jennifer {
  background: url(../../img/team/jennifer.png) no-repeat top left;
  background-size: cover;
}

.team-offset {
  margin-left: 12%;
}

.team-member h4 {
  margin-top: 22px;
  margin-bottom: 3px;
  color: #959ea7;
  font-style: italic;
  font-weight: 600;
  font-family: "Proxima Nova", sans-serif;
}

.team-member:hover h4 {
  color: #fff;
}

.team-member p {
  margin: 0;
}

.about-bmir .intro-b {
  margin-bottom: 50px;
  line-height: 30px;
}

.about-bmir hr {
  margin-top: 25px;
  margin-bottom: 25px;
}

.citing {
  margin-top: 40px;
}

.citing p {
  margin-bottom: 8px;
}

.newest-course {
  background: #fbf5db; 
  height: 70px;
  line-height: 72px;
  border-bottom: 1px solid #fbdfb7;
  padding: 0;
}

.shortcourses {
  padding-top: 60px;
}

#shortcourse-reviews {
  border: 2px solid #ccc;
  border-radius: 3px;
  padding: 30px;
  margin-top: 140px;
}

#shortcourse-reviews .item {
  min-height: 215px;
}
