.navbar { 
  margin-bottom: 0; 
  background: rgb(255,255,255);
  background: rgba(255,255,255,.9);
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.navbar-brand span {
  display: block;
  width: 88px;
  height: 32px;
  background: url(../../img/logo.png) 0 0 no-repeat;
  text-indent: -9999em; 
}

.navbar-wrapper.affix {
  top: 0;
  left: 0;
  right: 0;
  z-index: 997;
}

.navbar-wrapper.affix + .jumbotron-container {
  margin-top: 62px;
}

.navbar-nav {
  margin-top: 12px;
  font-size: .875em;
  text-transform: uppercase;
  letter-spacing: .1em; 
}

.navbar-nav > li > a {
  padding: 0;
  margin: 10px 0 0 55px;
  font-weight: bold;
  color: #415161;
}

.navbar-nav > li > a:hover {
  background-color: transparent;
  color: #3498db;
}

.navbar-nav > li.active > a {
  color: #db5e33;
}

.desktop-protege-nav li a, .web-protege-nav li a {
  font-weight: 600;
  font-size: 15px;
  color: #2c3e50;
}

.web-protege-nav li a {
  color: #fff;
}

.desktop-protege-nav li a:hover, .web-protege-nav li a:hover {
  color: rgb(44,62,80);
  color: rgba(44,62,80,.6);
  text-decoration: none;
}

.web-protege-nav li a:hover {
  color: rgb(255,255,255);
  color: rgba(255,255,255,.5);
}

.desktop-protege-nav .pictogram, .web-protege-nav .pictogram {
  font-size: 2em;
  color: #db5e33;
  font-weight: normal;
  margin-right: 1.5%;
}
