/* ------------PROXIMA------------ */
/* Regular */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/proximanova-regular-webfont.eot');
    src: url('../../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* Regular Italic */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/proximanova-regularitalic-webfont.eot');
    src: url('../../fonts/proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/proximanova-regularitalic-webfont.woff') format('woff'),
         url('../../fonts/proximanova-regularitalic-webfont.ttf') format('truetype'),
         url('../../fonts/proximanova-regularitalic-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

/* Semibold */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/proximanova-semibold-webfont.eot');
    src: url('../../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

/* Semibold Italic */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/proximanova-semibolditalic-webfont.eot');
    src: url('../../fonts/proximanova-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/proximanova-semibolditalic-webfont.woff') format('woff'),
         url('../../fonts/proximanova-semibolditalic-webfont.ttf') format('truetype'),
         url('../../fonts/proximanova-semibolditalic-webfont.svg#proxima_novasemibold_italic') format('svg');
    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/proximanova-bold-webfont.eot');
    src: url('../../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/proximanova-boldit-webfont.eot');
    src: url('../../fonts/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/proximanova-boldit-webfont.woff') format('woff'),
         url('../../fonts/proximanova-boldit-webfont.ttf') format('truetype'),
         url('../../fonts/proximanova-boldit-webfont.svg#proxima_nova_rgbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

/* ------------BRANDON------------ */
/* Medium */
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../../fonts/brandon_med-webfont.eot');
    src: url('../../fonts/brandon_med-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/brandon_med-webfont.woff') format('woff'),
         url('../../fonts/brandon_med-webfont.ttf') format('truetype'),
         url('../../fonts/brandon_med-webfont.svg#brandon_grotesquemedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../../fonts/brandon_bld-webfont.eot');
    src: url('../../fonts/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/brandon_bld-webfont.woff') format('woff'),
         url('../../fonts/brandon_bld-webfont.ttf') format('truetype'),
         url('../../fonts/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: 700;
    font-style: normal;
}


/* ------------KLINIC------------ */
/* Book Italic */
@font-face {
    font-family: 'Klinic Slab';
    src: url('../../fonts/klinicslabbookit-webfont.eot');
    src: url('../../fonts/klinicslabbookit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/klinicslabbookit-webfont.woff') format('woff'),
         url('../../fonts/klinicslabbookit-webfont.ttf') format('truetype'),
         url('../../fonts/klinicslabbookit-webfont.svg#klinic_slabbook_italic') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* Medium Italic */
@font-face {
    font-family: 'Klinic Slab';
    src: url('../../fonts/klinicslabmediumit-webfont.eot');
    src: url('../../fonts/klinicslabmediumit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/klinicslabmediumit-webfont.woff') format('woff'),
         url('../../fonts/klinicslabmediumit-webfont.ttf') format('truetype'),
         url('../../fonts/klinicslabmediumit-webfont.svg#klinic_slabmedium_italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

body {
  font-family: 'Proxima Nova', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  color: #545454;
  -webkit-font-smoothing: antialiased;
}

/* Base link styles */
a {
  transition: color .15s ease-in-out;
  -moz-transition: color .15s ease-in-out;
  -webkit-transition: color .15s ease-in-out;
  outline: none;
}

a:active {
  outline: none;
}

/* Various link style types */
.link-a, .link-b, .link-c, .link-d {
  color: #fff;
  font-size: 14px;
  display: block;
  font-weight: 600;
  margin-top: 25px;
}

.link-a {
  color: #fff;
}

.link-a:hover {
  color: rgba(255,255,255,.4);
  text-decoration: none;
}

.link-b {
  color: #2c3e50;
}

.link-b:hover {
  color: rgb(44,62,80);
  color: rgba(44,62,80,.6);
  text-decoration: none;
}

.link-c, .offset-raquo {
  color: #3498db;
  font-family: "Klinic Slab", serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  display: inline;
  font-style: italic;
}

.link-d {
  font-weight: 500;
  color: #415161;
  letter-spacing: 1px;
  margin-top: 20px;
  opacity: .6;
}

.link-c:hover {
  color: #2d73a1;
}

.inline-link {
  display: inline !important;
}

/* raquo styles (usually assocaited with a link) */
.offset-raquo {
  font-weight: 700;
  margin-right: 8px;
  margin-left: -16px;
  font-size: 15px;
  position: relative;
  top: -1px;
}

/* <strong> styles */

strong {
  font-weight: 700;
  font-style: normal
}

strong.bold-a {
  color: #ce842d;
  font-size: 14px;
  letter-spacing: 1px;
}

strong.bold-a a {
  color: inherit;
}

strong.bold-a a:hover {
  color: #ac6e22;
}

/* <em> and <i> styles */
em {
  font-weight: 600;
  font-style: italic;
}

em.ital-a {
  font-family: "Klinic Slab", serif;
  font-weight: 500;
  color: #939ea9;
}

i {
    font-weight: 300;
    font-style: italic;
}

/* <small> and <big> styles */
small {
  font-size: .75em;
}

big.type-a, big.type-b {
  font-family: "Brandon Grotesque", serif;
  color: #fff;
  font-size: 28px;
  margin: 0 1px 0 4px;
}

big.type-b {
  font-family: "Klinic Slab", serif;
  font-size: 36px;
  margin: 0;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  font-style: italic;
}

small.type-a, small.type-b {
  font-size: 14px;
  letter-spacing: 1px;
}

small.type-a {
  display: block;
  line-height: 20px;
}

small.type-b {
  letter-spacing: 0;
  color: #959ea7;
}

/* Headline styles <h1> - <h6> */
h1 {
  font-family: 'Brandon Grotesque', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1.heading-a {
  font-weight: 700;
  color: #2c3e50;
  font-size: 30px;
}

h2, h3 {
  font-family: 'Klinic Slab', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 500;
}

h2.heading-a, h2.heading-b, h2.heading-c, h2.heading-d {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #fff;
  margin-bottom: 0;
}

h2.heading-b {
  color: #2c3e50;
}

h2.heading-c {
  font-size: 21px;
  margin-top: 0;
  color: #959ea7;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 300;
}

h2.heading-d {
  font-size: 34px;
  line-height: 44px;
  font-weight: 300;
}

h3.heading-a, h3.heading-b, h3.heading-c, h3.heading-d, h3.heading-e {
  font-size: 16px;
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 700;
}

h3.heading-b {
  font-family: "Klinic Slab", serif;
  color: #2c3e50;
  font-size: 21px;
  font-weight: 500;
}

h3.heading-c, h3.heading-d {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

h3.heading-d {
  font-family: "Klinic Slab", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
}

h3.heading-e {
  font-family: "Klinic Slab", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ce842d;
  line-height: 32px;
}

#myModalLabel h3.heading-a {
  color: #222;
}

h4.heading-a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

/* <p> styles */

p {
  margin-bottom: 25px;
}

p.para-a {
  font-size: 15px;
  color: #415161;
}

/* paragraph based intro styles */

.intro-a, .intro-b, .intro-c {
  font-family: "Klinic Slab", serif;
  font-weight: 500;
  color: #fff;
  font-size: 21px;
  margin-bottom: 20px;
  font-style: italic;
}

.intro-b {
  color: #545454;
}

.intro-c {
  color: #3e4144;
  font-weight: 500;
  font-size: 22px;
  font-style: italic;
  line-height: 30px;
  margin-bottom: 40px !important;
}

/* <hr> styles */
hr {
  border-top: 1px solid #525d68;
}

hr.ruler-a {
  border-top: 1px solid #e4e3e2;
}

hr.small {
  width: 10%;
}

hr.medium {
  width: 20%;
}

/* <blockquote> styles */
blockquote.quote-a, blockquote.quote-b {
  padding: 0;
  margin: 0;
  border-left: none;
  color: #959ea7;
  font-size: 24px;
  font-family: "Klinic Slab", serif;
  line-height: 30px;
}


blockquote.quote-b {
  font-size: 22px;
  color: #7f65b4;
  font-weight: 500;
  font-style: italic;
}

/* Base icon styles */

.open-map-icon {
  background: url(../../img/custom-map-marker.png) no-repeat 0 0;
  width: 16px;
  height: 25px;
}

.left-arrow, .right-arrow {
  background: url(../../img/left-arrow.png) no-repeat 0 0;
  width: 14px;
  height: 26px;
  display: inline-block;
  transition: all .2s ease-in-out;
  margin-top: -20px;
}

.left-arrow:hover, .right-arrow:hover {
  opacity: .6;
}

.right-arrow {
  background: url(../../img/right-arrow.png) no-repeat 0 0;
}

.calendar-icon {
  background: url(../../img/calendar-icon.png) no-repeat 0 0;
  width: 15px;
  height: 16px;
  position: relative;
  left: 12px;
  top: 2px;
}

.map-icon {
  background: url(../../img/small-map-marker.png) no-repeat 0 0;
  width: 10px;
  height: 16px;
  position: relative;
  left: 15px;
  top: 2px;
}

.quote-icon {
  background: url(../../img/icon-quote.png) no-repeat 0 0;
  width: 90px;
  height: 90px;
  display: inline-block;
}

.main-twitter-icon {
  background: url(../../img/main-twitter-icon.png) no-repeat 0 0;
  width: 50px;
  height: 41px;
  display: inline-block;
}

.twitter-round-icon, .facebook-round-icon, .github-round-icon {
  background: url(../../img/twitter-round-icon.png) no-repeat 0 0;
  width: 40px;
  height: 41px;
  display: inline-block;
}

.facebook-round-icon {
  background: url(../../img/facebook-round-icon.png) no-repeat 0 0;
}

.github-round-icon {
  background: url(../../img/github-round-icon.png) no-repeat 0 0;
}

.cloud-icon {
  background: url(../../img/cloud-icon.png) no-repeat 0 0;
  width: 30px;
  height: 20px;
  display: inline-block;
  margin-top: 8px;
}

.pictures-icon {
  background: url(../../img/pictures-icon.png) no-repeat 0 0;
  width: 17px;
  height: 16px;
  display: inline-block;
}

.folder-icon {
  background: url(../../img/folder-icon.png) no-repeat 0 0;
  width: 17px;
  height: 14px;
  display: inline-block;
}

.plus-icon {
  background: url(../../img/plus-icon.png) no-repeat 0 0;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.twitter-icon-fade, .facebook-icon-fade, .github-icon-fade {
  background: url(../../img/washed-twitter-bird.png) no-repeat 0 0;
  width: 44px;
  height: 37px;
  display: inline-block;
  margin-top: -13px;
}

.facebook-icon-fade {
  background: url(../../img/facebook-icon-fade.png) no-repeat 0 0;
  width: 16px;
  height: 34px;
  display: inline-block;
}

.github-icon-fade {
  background: url(../../img/github-icon-fade.png) no-repeat 0 0;
  width: 34px;
  height: 29px;
  display: inline-block;
}

.disp-table {
  display: table;
}

.center-vertical {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
